<div class="row">
<div class="col-xs-12">
<div class="box box-primary">
<div class="box-header with-border">
<h3 class="box-title">{if isset($data.id)}编辑守护类型{else}添加守护类型{/if}</h3>
    <div class="box-tools pull-right">
        <a href="{:url('admin/GuardType/index')}" class="btn btn-sm btn-default">
            <i class="fa fa-list"></i> 返回列表
        </a>
    </div>
</div>
    <!-- /.box-header -->
<form role="form" id="typeForm">
<div class="box-body">
    <input type="hidden" name="id" value="{$data.id|default=''}">

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="name">类型名称 <span class="text-red">*</span></label>
                <input type="text" class="form-control" id="name" name="name"
                       placeholder="请输入类型名称" value="{$data.name|default=''}" required>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="code">类型编码 <span class="text-red">*</span></label>
                <input type="text" class="form-control" id="code" name="code"
                       placeholder="请输入类型编码（英文、数字、下划线）" value="{$data.code|default=''}" required>
                <p class="help-block">用于系统识别的唯一编码</p>
            </div>
        </div>
    </div>

<div class="row">
<div class="col-md-6">
<div class="form-group">
    <label for="imgurl">类型图片 <span class="text-red">*</span></label>
    <input type="hidden" name="imgurl" id="imgurl" value="{$data.imgurl|default=''}">
    <div>
        <button type="button" class="btn btn-primary" id="uploadBtn">
            <i class="fa fa-upload"></i> 上传图片
        </button>
        <input type="file" id="fileInput" style="display: none;" accept="image/*">
    </div>
<div class="img-preview-container mt-10">
{if isset($data.imgurl) && $data.imgurl}
    <div class="img-preview">
        <img id="previewImg" src="{$data['imgurl']}" style="width: 200px;height: 150px;">
        <a href="javascript:void(0)" onclick="removeImage()" class="text-red"
           style="display: block; text-align: center;">
            <i class="fa fa-trash"></i> 移除
        </a>
    </div>
{else}
    <div id="previewContainer" class="img-preview" style="display: none;">

        <a href="javascript:void(0)" onclick="removeImage()" class="text-red" style="display: block; text-align: center;">
            <i class="fa fa-trash"></i> 移除
        </a>
    </div>
{/if}
</div>
</div>
</div>
    <div class="col-md-6">
        <div class="form-group">
            <label for="sort">排序值 <span class="text-red">*</span></label>
            <input type="number" class="form-control" id="sort" name="sort"
                   placeholder="请输入排序值" value="{$data.sort|default=100}" required>
            <p class="help-block">数字越大越靠前</p>
        </div>

        <div class="form-group">
            <label>状态 <span class="text-red">*</span></label>
            <div>
                <label class="radio-inline">
                    <input type="radio" name="status" value="1" {if !isset($data.status) || $data.status == 1}checked{/if}>
                    启用
                </label>
                <label class="radio-inline">
                    <input type="radio" name="status" value="0" {if isset($data.status) && $data.status == 0}checked{/if}>
                    禁用
                </label>
            </div>
        </div>
    </div>
</div>

    <div class="form-group">
        <label for="description">类型描述 <span class="text-red">*</span></label>
        <textarea class="form-control" id="description" name="description" rows="4"
                  placeholder="请输入类型描述" required>{$data.description|default=''}</textarea>
    </div>
</div>
    <!-- /.box-body -->

    <div class="box-footer">
        <button type="submit" class="btn btn-primary">
            <i class="fa fa-save"></i> 提交
        </button>
        <a href="{:url('admin/GuardType/index')}" class="btn btn-default">
            <i class="fa fa-times"></i> 取消
        </a>
    </div>
</form>
</div>
    <!-- /.box -->
</div>
    <!-- /.col -->
</div>

<script>
    // 移除图片
    function removeImage() {
        $('#imgurl').val('');
        $('#previewContainer').hide();
        $('#previewImg').attr('src', '');
        $('#fileInput').val('');
    }

    // 图片预览功能
    function seePhoto(url) {
        if (!url) return;

        layer.open({
            type: 1,
            title: false,
            closeBtn: 1,
            shadeClose: true,
            area: ['80%', '80%'],
            content: ''
        });
    }

    $(document).ready(function () {
        $('#previewContainer').show();
        // 图片上传按钮点击事件
        $('#uploadBtn').click(function () {
            $('#fileInput').click();
        });

        // 文件选择变化事件
        $('#fileInput').change(function (e) {
            if (this.files && this.files[0]) {
                var formData = new FormData();
                formData.append('file', this.files[0]);
                formData.append('type', 'declare');

                layer.load(2);

                $.ajax({
                    url: '{:url("admin/Common/upload")}',
                    type: 'POST',
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function (res) {
                        layer.closeAll('loading');

                        if (res.code == 200) {
                            // 确保只存储相对路径
                            var relativePath = res.data.url;

                            // 如果返回的是完整URL，提取相对路径部分
                            if (relativePath.indexOf('http') === 0) {
                                var storageIndex = relativePath.indexOf('/storage/');
                                if (storageIndex !== -1) {
                                    relativePath = relativePath.substring(storageIndex + '/storage/'.length);
                                }
                            }

                            // 设置隐藏域值 - 只存储相对路径
                            $("#imgurl").val(relativePath);

                            // 显示预览图片
                            var fullUrl = "{:env('app.img_host')}/storage/" + relativePath;
                            $("#previewContainer").show();
                            $("#previewImg").attr("src", fullUrl);
                            $("#previewImg").attr("onclick", "seePhoto('" + fullUrl + "')");
                            $('.img-preview').show();

                            layer.msg('上传成功', { icon: 1 });
                        } else {
                            layer.msg(res.msg || '上传失败', { icon: 2 });
                        }
                    },
                    error: function () {
                        layer.closeAll('loading');
                        layer.msg('上传出错，请重试', { icon: 2 });
                    }
                });
            }
        });

        // 表单提交
        $('#typeForm').on('submit', function (e) {
            e.preventDefault();

            var name = $('#name').val();
            var code = $('#code').val();
            var imgurl = $('#imgurl').val();
            // 如果返回的是完整URL，提取相对路径部分
            if (imgurl.indexOf('http') === 0) {
                // 提取/storage/之后的部分
                var storageIndex = imgurl.indexOf('/storage/');
                if (storageIndex !== -1) {
                    imgurl = imgurl.substring(storageIndex + '/storage/'.length);
                }
            }
            var sort = $('#sort').val();
            var status = $('input[name="status"]:checked').val();
            var description = $('#description').val();

            if (!name) {
                layer.msg('请输入类型名称', { icon: 2 });
                return;
            }
            if (!code) {
                layer.msg('请输入类型编码', { icon: 2 });
                return;
            }
            if (!imgurl) {
                layer.msg('请上传类型图片', { icon: 2 });
                return;
            }
            if (!sort || sort < 0) {
                layer.msg('请输入有效的排序值', { icon: 2 });
                return;
            }
            if (!status) {
                layer.msg('请选择状态', { icon: 2 });
                return;
            }
            if (!description) {
                layer.msg('请输入类型描述', { icon: 2 });
                return;
            }

            var url = '{:url("admin/GuardType/add")}';
            if ($('input[name="id"]').val()) {
                url = '{:url("admin/GuardType/edit")}';
            }

            var loadIndex = layer.load(2);

            $.post(url, $(this).serialize(), function (res) {
                layer.close(loadIndex);
                if (res.code == 200) {
                    layer.msg(res.msg, { icon: 1 }, function () {
                        location.href = '{:url("admin/GuardType/index")}';
                    });
                } else {
                    layer.msg(res.msg, { icon: 2 });
                }
            }).fail(function () {
                layer.close(loadIndex);
                layer.msg('网络错误，请重试', { icon: 2 });
            });
        });
    });
</script>