<div class="search">
    <form class="form-inline">
        <select name="cate_id" class="form-control">
            <option value="">搜索类型</option>
            <?php foreach ($goodsCate as  $v) { ?>
                <option <?php if (isset($req['cate_id']) && $req['cate_id'] == $v['id']) {
                    echo 'selected = "selected"';
                } ?> value="{$v['id']}">{$v['title']}
                </option>
            <?php } ?>
        </select>
        <input placeholder="名称" autocomplete="on" value="{$req['title']??''}" name="title" class="form-control">
        <input class="btn btn-flat btn-primary m_10" type="submit" value="搜索">
    </form>
</div>

<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <div class="box-body table-responsive no-padding">
                    <table class="table table-bordered table-hover table-striped">
                        <tbody>
                        <tr>
                            <th>ID</th>
                            <th>名称</th>
                            <th>图片</th>
                            <th>类型</th>
                            <th>价格</th>
                            <th>积分</th>
                            <th>数量</th>
                            <th>状态</th>
                            <th>创建时间</th>
                            <th>操作</th>
                        </tr>
                        <?php foreach ($data as $k => $v) { ?>
                            <tr>
                                <td>{$v['id']}</td>
                                <td>{$v['title'] ?? ''}</td>
                                <td><img src="{$v['img_url']}" onclick="seePhoto('{$v["img_url"]}')" style="max-width: 80px;"></td>
                                <td>{$v['cate_name']}</td>
                                <td>{$v['price']}</td>
                                <td>{$v['integral']}</td>
                                <td>{$v['num']}</td>
                                <td>{$v['status']==0 ? '下架' : '上架'}</td>
                                <td>{$v['add_time']}</td>
                                <td>
                                    <a  class="btn btn-flat btn-info btn-xs"
                                    href="{:url('admin/ShopGoods/showGoods', ['id' => $v['id']])}"><i
                                            class="fa fa-edit"></i> 编辑</a>
                                </td>
                                
                            </tr>
                        <?php } ?>
                        </tbody>
                    </table>
                </div>
                <div style="text-align:center;font-size: 14px;"><?php echo $data->render(); ?> <h5></h5></div>
            </div>
        </div>
    </div>
</div>
<script>
    $(function () {
        //日期范围限制
        var start = {
            elem: '#start',
            format: 'yyyy-MM-dd',
        };
        var end = {
            elem: '#end',
            format: 'yyyy-MM-dd',
        };
        laydate.render(start);
        laydate.render(end);
    });
</script>