<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <!-- /.box-header -->
            <div class="box-body">
                <div class="search">
                    <form class="form-inline">
                        <input placeholder="补贴名称" autocomplete="on" value="{$req['subsidy_name']??''}"
                               name="subsidy_name" class="form-control">
                        <input placeholder="用户名称" autocomplete="on" value="{$req['user_name']??''}"
                               name="user_name" class="form-control">
                        <select name="status" class="form-control">
                            <option value="">全部状态</option>
                            {foreach $statusList as $key => $status}
                                <option value="{$key}" {if isset($req['status']) && $req['status']==$key}selected{/if}>
                                    {$status}
                                </option>
                            {/foreach}
                        </select>
                        <input class="btn btn-flat btn-primary m_10" type="submit" value="搜索">
                        <a class="btn btn-info" href="{:url('admin/DeclareRecord/export')}">
                            <i class="fa fa-download"></i> 导出Excel
                        </a>
                    </form>
                </div>

                <div class="table-responsive">
                    <table class="table table-bordered table-hover table-striped">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>用户名称</th>
                            <th>补贴名称</th>
                            <th>补贴类型</th>
                            <th>申报金额</th>
                            <th>申报周期</th>
                            <th>状态</th>
                            <th>申报时间</th>
                        </tr>
                        </thead>
                        <tbody>
                        {foreach $data as $v}
                        <tr>
                            <td>{$v.id}</td>
                            <td>{$v.user.username}</td>
                            <td>{$v.subsidy_config.name}</td>
                            <td>{$v.subsidy_type.name}</td>
                            <td>¥{$v.declare_amount}</td>
                            <td>{$v.declare_cycle}天</td>
                        <td>
                        {if $v.status == 1}
                            <span class="label label-success">成功</span>
                        {else}
                            <span class="label label-danger">失败</span>
                        {/if}
                        </td>
                            <td>{$v.created_at}</td>
                        </tr>
                        {/foreach}
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- /.box-body -->
            <div class="box-footer clearfix">
                {$data|raw}
            </div>
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
</div>