<div class="search">
    <form class="form-inline">
        <a class="btn btn-flat btn-primary m_10_l_0" href="{:url('admin/Notice/noticeList')}">显示全部</a>
        <a class="btn btn-flat btn-success m_10 f_r" onclick="javascript:history.back(-1)"><i
                    class="fa fa-undo m-r-10"></i>返 回</a>
    </form>
</div>

<div class="row">
    <div class="col-sm-12 col-xs-12">
        <form id="commentForm">
            <?php if (!empty($data)) { ?>
                <input type="hidden" class="form-control" value="{$data['id']}" name="id">
            <?php } ?>
            <div class="box box-body">
                {if(empty($data))}

                <div class="row dd_input_group">
                    <div class="form-group">
                        <label class="col-xs-4 col-sm-2 col-md-2 col-lg-1 control-label dd_input_l">类别</label>
                        <div class="col-xs-7 col-sm-6 col-md-4 col-lg-4">
                            <select name="type">
                                <option value="1" {if(isset($data['type']) && $data['type']==1)} selected {/if}>公告</option>
                                <option value="2" {if(isset($data['type']) && $data['type']==2)} selected {/if}>指定</option>
                            </select>
                        </div>
                        <div class="col-xs-1 col-sm-4 col-md-6 col-lg-6 dd_ts">*</div>
                    </div>
                </div>
                <div class="row dd_input_group">
                    <div class="form-group">
                        <label class="col-xs-4 col-sm-2 col-md-2 col-lg-1 control-label dd_input_l">用户手机号</label>
                        <div class="col-xs-7 col-sm-6 col-md-4 col-lg-4">
                            <input type="text" name="phone" class="form-control" placeholder="请输入用户手机号"
                                   value="{$data['phone']??''}">
                        </div>
                        <div class="col-xs-1 col-sm-4 col-md-6 col-lg-6 dd_ts">* 多个手机号用,逗号分割 公告不用填写</div>
                    </div>
                </div>
                {/if}
                <div class="row dd_input_group">
                    <div class="form-group">
                        <label class="col-xs-4 col-sm-2 col-md-2 col-lg-1 control-label dd_input_l">标题</label>
                        <div class="col-xs-7 col-sm-6 col-md-4 col-lg-4">
                            <input type="text" name="title" class="form-control" placeholder="请输入标题"
                                   value="{$data['title']??''}">
                        </div>
                        <div class="col-xs-1 col-sm-4 col-md-6 col-lg-6 dd_ts">*</div>
                    </div>
                </div>
                <div class="row dd_input_group">
                    <div class="form-group">
                        <div class="col-xs-11 col-sm-11 col-md-11 col-lg-11 ">
                            <label class="text-lable">内容</label>
                            <textarea  name="content" id="content" style="width: 100%;height: 100px;">{$data['content']??''}</textarea>

                        </div>
                        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 dd_ts">*</div>
                    </div>
                </div>
                <!-- <div class="row dd_input_group">
                    <div class="form-group">
                        <label class="col-xs-4 col-sm-2 col-md-2 col-lg-1 control-label dd_input_l">创建时间</label>
                        <div class="col-xs-7 col-sm-6 col-md-4 col-lg-4">
                            <input type="text" name="created_at" class="form-control" placeholder="请输入创建时间" value="{$data['created_at']?? date('Y-m-d H:i:s')}">
                        </div>
                    </div>
                </div> -->
                <div class="row dd_input_group">
                    <div class="form-group">
                        <div class="col-xs-12 col-sm-8 col-md-6 col-lg-5 text-center">
                            <button type="button" class="btn btn-flat btn-primary" onclick="sub()">提 交</button>
                            <button type="button" class="btn btn-flat btn-default"
                                    onclick="javascript:history.back(-1)">返 回
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<link href="__ADMIN__/plugins/summernote/summernote.min.css?a=123" rel="stylesheet"> 
 <script src="__ADMIN__/plugins/summernote/summernote.min.js?a=123"></script>
<script src="__ADMIN__/plugins/summernote/lang/summernote-zh-CN.js"></script>


<script>
    $(function () {


        var url = "{:url('admin/Notice/noticeList')}";
        $('a[href="' + url + '"]').parents('.menu-li').addClass('active');
        var headerText = $('a[href="' + url + '"]').children('span').text();
        var is_add = "<?php echo !empty($data) ? '0' : '1';?>";
        var headerTitle = is_add == "1" ? headerText + '-添加' : headerText + '-编辑';
        $('#content-header-title').text(headerTitle);
    });


    function sub()
    {
        var formData = new FormData($('#commentForm')[0]);
        $.ajax({
            url: '<?php echo !empty($data) ? url("admin/Notice/editNotice") : url("admin/Notice/addNotice");?>',
            type: 'POST',
            data: formData,
            async: false,
            cache: false,
            contentType: false,
            processData: false,
            success: function (res) {
                if (res.code == '200'){
                    window.location.href = document.referrer;
                }
                else {
                    layer.msg(res.msg, {icon: 5, time: 3000});
                }
            },
            error: function (res) {
                layer.msg(res.msg, {icon: 5, time: 3000});
            }
        });
        
    }
</script>
