<!-- Main content -->
<section class="content">
<div class="row">
<div class="col-xs-12">
<div class="box box-primary">
<div class="box-header with-border">
<h3 class="box-title">{if isset($data.id)}编辑资金类型{else}添加资金类型{/if}</h3>
    <div class="box-tools pull-right">
        <a href="{:url('admin/DeclareFundType/index')}" class="btn btn-sm btn-default">
            <i class="fa fa-list"></i> 返回列表
        </a>
    </div>
</div>
    <!-- /.box-header -->
<form role="form" id="fundTypeForm">
<div class="box-body">
        <input type="hidden" name="id" value="{$data.id??''}">

<div class="row">
<div class="col-md-6">
<div class="form-group">
    <label for="name">资金类型名称 <span class="text-red">*</span></label>
        <input type="text" class="form-control" id="name" name="name"
               placeholder="请输入资金类型名称" value="{$data.name??''}" required>
</div>
</div>
<div class="col-md-6">
<div class="form-group">
    <label for="sort">排序值 <span class="text-red">*</span></label>
        <input type="number" class="form-control" id="sort" name="sort"
               placeholder="请输入排序值" value="{$data.sort??100}" required>
    <p class="help-block">数字越大越靠前</p>
</div>
</div>
</div>

<div class="form-group">
    <label for="description">类型描述 <span class="text-red">*</span></label>
<textarea class="form-control" id="description" name="description" rows="4"
          placeholder="请输入资金类型描述" required>{$data.description??''}</textarea>
</div>

<div class="form-group">
    <label>状态 <span class="text-red">*</span></label>
<div>
<label class="radio-inline">
        <input type="radio" name="status" value="1" {if !isset($data.status) ||
                                                    $data.status==1}checked{/if}>
    启用
</label>
<label class="radio-inline">
        <input type="radio" name="status" value="0" {if isset($data.status) &&
                                                    $data.status==0}checked{/if}>
    禁用
</label>
</div>
</div>
</div>
    <!-- /.box-body -->

    <div class="box-footer">
        <button type="submit" class="btn btn-primary">
            <i class="fa fa-save"></i> 提交
        </button>
        <a href="{:url('admin/DeclareFundType/index')}" class="btn btn-default">
            <i class="fa fa-times"></i> 取消
        </a>
    </div>
</form>
</div>
    <!-- /.box -->
</div>
    <!-- /.col -->
</div>
    <!-- /.row -->
</section>
<!-- /.content -->

    <script>
        $(document).ready(function () {
            $('#fundTypeForm').on('submit', function (e) {
                e.preventDefault();

                var name = $('#name').val();
                var sort = $('#sort').val();
                var status = $('input[name="status"]:checked').val();
                var description = $('#description').val();

                if (!name) {
                    layer.msg('请输入资金类型名称', { icon: 2 });
                    return;
                }
                if (!sort || sort < 0) {
                    layer.msg('请输入有效的排序值', { icon: 2 });
                    return;
                }
                if (!status) {
                    layer.msg('请选择状态', { icon: 2 });
                    return;
                }
                if (!description) {
                    layer.msg('请输入类型描述', { icon: 2 });
                    return;
                }

                var url = '{:url("admin/DeclareFundType/add")}';
                if ($('input[name="id"]').val()) {
                    url = '{:url("admin/DeclareFundType/edit")}';
                }

                layer.load(2);

                $.post(url, $(this).serialize(), function (res) {
                    layer.closeAll();
                    if (res.code == 200) {
                        layer.msg(res.msg, { icon: 1 }, function () {
                            location.href = '{:url("admin/DeclareFundType/index")}';
                        });
                    } else {
                        layer.msg(res.msg, { icon: 2 });
                    }
                }).fail(function () {
                    layer.closeAll();
                    layer.msg('网络错误，请重试', { icon: 2 });
                });
            });
        });
    </script>