<div class="search">
    <form class="form-inline">
        <a class="btn btn-flat btn-primary m_10_l_0"
           href="{:url('admin/FinanceApprovalConfig/approvalConfigList')}">显示全部</a>
        <a class="btn btn-flat btn-success m_10 f_r" onclick="history.back()">
            <i class="fa fa-undo m-r-10"></i>返 回
        </a>
    </form>
</div>

<div class="row">
<div class="col-sm-12 col-xs-12">
<form id="configForm">
{if !empty($data)}
    <input type="hidden" name="id" value="{$data.id}">
{/if}
<div class="box box-body">
    <div class="row dd_input_group">
        <div class="form-group">
            <label class="col-xs-4 col-sm-2 col-md-2 col-lg-1 control-label dd_input_l">审批档次</label>
            <div class="col-xs-8 col-sm-6 col-md-4 col-lg-4">
                <select name="level" class="form-control" {if !empty($data)}disabled{/if}>
                    <option value="">请选择</option>
                    <option value="1"
                            {if isset($data.level) && $data.level==1}selected{/if}>一档</option>
                    <option value="2"
                            {if isset($data.level) && $data.level==2}selected{/if}>二档</option>
                    <option value="3"
                            {if isset($data.level) && $data.level==3}selected{/if}>三档</option>
                    <option value="4"
                            {if isset($data.level) && $data.level==4}selected{/if}>四档</option>
                </select>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-6 col-lg-6 dd_ts">* 创建后不可修改</div>
        </div>
    </div>
<div class="row dd_input_group">
<div class="form-group">
    <label class="col-xs-4 col-sm-2 col-md-2 col-lg-1 control-label dd_input_l">档次名称</label>
<div class="col-xs-7 col-sm-6 col-md-4 col-lg-4">
        <input type="text" name="name" class="form-control"
               placeholder="请输入档次名称" value="{$data.name??''}">
</div>
    <div class="col-xs-1 col-sm-4 col-md-6 col-lg-6 dd_ts">*</div>
</div>
</div>
<div class="row dd_input_group">
<div class="form-group">
    <label class="col-xs-4 col-sm-2 col-md-2 col-lg-1 control-label dd_input_l">提款金额</label>
<div class="col-xs-7 col-sm-6 col-md-4 col-lg-4">
        <input type="text" name="withdraw_amount" class="form-control"
               placeholder="请输入提款金额" value="{$data.withdraw_amount??''}">
</div>
    <div class="col-xs-1 col-sm-4 col-md-6 col-lg-6 dd_ts">*</div>
</div>
</div>
<div class="row dd_input_group">
<div class="form-group">
    <label class="col-xs-4 col-sm-2 col-md-2 col-lg-1 control-label dd_input_l">审批费</label>
<div class="col-xs-7 col-sm-6 col-md-4 col-lg-4">
        <input type="text" name="approval_fee" class="form-control"
               placeholder="请输入审批费" value="{$data.approval_fee??''}">
</div>
    <div class="col-xs-1 col-sm-4 col-md-6 col-lg-6 dd_ts">*</div>
</div>
</div>
    <div class="row dd_input_group">
        <div class="form-group">
            <div class="col-xs-12 col-sm-8 col-md-6 col-lg-5 text-center">
                <button type="button" class="btn btn-flat btn-primary" onclick="subForm()">提 交</button>
                <button type="button" class="btn btn-flat btn-default" onclick="history.back()">
                    返 回
                </button>
            </div>
        </div>
    </div>
</div>
</form>
</div>
</div>

<script>
function subForm() {
    var formData = $('#configForm').serialize();
    // 如果是编辑，加入禁用的level字段值
{if !empty($data)}
    formData += '&level={$data.level}';
{/if}

var url = "{if !empty($data)}{:url('admin/FinanceApprovalConfig/editApprovalConfig')}{else}{:url('admin/FinanceApprovalConfig/addApprovalConfig')}{/if}";

$.post(url, formData, function (res) {
if (res.code == 200) {
layer.msg('操作成功', {icon: 1, time: 1500}, function () {
        window.location.href = "{:url('admin/FinanceApprovalConfig/approvalConfigList')}";
});
} else {
    layer.msg(res.msg, {icon: 5, time: 3000});
}
});
}
</script>