<div class="search">
    <form class="form-inline">
        <input placeholder="会议标题" autocomplete="on" value="{$req['title']??''}" name="title" class="form-control">
        <input class="btn btn-flat btn-primary m_10" type="submit" value="搜索">
        <a class="btn btn-flat btn-success m_10 f_r" href="{:url('admin/Meeting/showMeeting')}">
            <i class="fa fa-plus m-r-10"></i>添加会议
        </a>
    </form>
</div>

<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">会议列表</h3>
            </div>
            <div class="box-body table-responsive no-padding">
                <table class="table table-bordered table-hover table-striped">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>会议标题</th>
                        <th>会议链接</th>
                        <th>会议封面</th>
                        <th>会议密码</th>
                        <th>排序</th>
                        <th>状态</th>
                        <th>创建时间</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {foreach $data as $v}
                    <tr>
                        <td>{$v['id']}</td>
                        <td>{$v['title']}</td>
                        <td>
                            {if $v['meeting_url']}
                                <a href="{$v['meeting_url']}" target="_blank" title="{$v['meeting_url']}">
                                    {if strlen($v['meeting_url']) > 30}
                                        {$v['meeting_url']|substr=0,30}...
                                    {else}
                                        {$v['meeting_url']}
                                    {/if}
                                </a>
                            {else}
                                无链接
                            {/if}
                        </td>
                        <td>
                            {if $v['cover_url']}
                                <img src="{$v['cover_url']}" onclick="seePhoto('{$v['cover_url']}')" style="width: 50px;height: 30px;">
                            {else}
                            无图片
                            {/if}
                        </td>
                        <td>{$v['password']}</td>
                        <td>{$v['sort']}</td>
                    <td>
                    {if $v['status'] == 1}
                        <span class="label label-success">启用</span>
                    {else}
                        <span class="label label-danger">禁用</span>
                    {/if}
                    </td>
                        <td>{$v['created_at']}</td>
                        <td>
                            <a class="btn btn-flat btn-info btn-xs" href="{:url('admin/Meeting/showMeeting', ['id' => $v['id']])}">
                                <i class="fa fa-edit"></i> 编辑
                            </a>
                            <a class="btn btn-flat btn-danger btn-xs delete-btn" data-id="{$v['id']}" href="#">
                                <i class="fa fa-trash"></i> 删除
                            </a>
                        </td>
                    </tr>
                    {/foreach}
                    </tbody>
                </table>
            </div>
            <div class="box-footer clearfix">
                {$data|raw}
            </div>
        </div>
    </div>
</div>

<script>
    // 图片预览功能
    function seePhoto(url) {
        layer.open({
            type: 1,
            title: false,
            closeBtn: 1,
            shadeClose: false,
            skin: 'layui-layer-adminlte',
            area: ['500px'],
            content: ''
        });
    }

    // 删除功能
    $(document).ready(function() {
        // 删除按钮点击事件
        $(document).on('click', '.delete-btn', function(e) {
            e.preventDefault();
            var id = $(this).data('id');
            var $tr = $(this).closest('tr');

            // 使用layer确认弹窗
            layer.confirm('确定要删除这个会议吗？', {
                title: '确认删除',
                icon: 3,
                btn: ['确定', '取消']
            }, function(index) {
                // 关闭确认框
                layer.close(index);

                // 显示加载中
                var loadIndex = layer.load(2, {time: 10 * 1000});

                // 发送Ajax请求到服务器
                $.ajax({
                    url: '/admin/Meeting/deleteMeeting',
                    type: 'POST',
                    data: {id: id},
                    dataType: 'json',
                    success: function(response) {
                        layer.close(loadIndex);
                        if (response.code === 200) {
                            // 显示成功消息
                            layer.msg('会议删除成功！', {icon: 1, time: 1500}, function() {
                                // 移除表格行
                                $tr.fadeOut(400, function() {
                                    $(this).remove();
                                    // 如果表格没有数据了，显示提示
                                    if ($('.table tbody tr').length === 0) {
                                        $('.table tbody').html('<tr><td colspan="8" style="text-align:center;">暂无数据</td></tr>');
                                    }
                                });
                            });
                        } else {
                            layer.msg('会议删除失败：' + response.msg, {icon: 2});
                        }
                    },
                    error: function() {
                        layer.close(loadIndex);
                        layer.msg('网络错误，删除失败！', {icon: 2});
                    }
                });
            });
        });
    });
</script>